
/* Small Screen Laptops */
@media screen and (max-width:992px){
      .mobile-logo{
        display: block;
      }

      .main-logo{
        display: none;
      }

      aside{
        padding: 0;
        align-items: center;
      }

      .nav-icon{
        margin: 0 auto;
      }

      .top-nav li a span{
        display: none;
      }
}


/* tablets */
@media screen and (max-width:768px){
  
}
/* Mobiles */
@media screen and (max-width:576px){
   
   
}
